---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <div class="text-sm font-light">
      <p>
        Hi, I'm Omotolani, a software engineer from Nigeria.
        <br />
        My primary tools of choice includes:
      </p>
      <ul class="list-disc list-inside">
        <li>Nodejs</li>
        <li>Spring Boot</li>
        <li>Astro</li>
        <li>TypeScript</li>
        <li>Java</li>
        <li>Docker</li>
        <li>AWS</li>
      </ul>
    </div>
    <p class="text-sm font-light">
      My expertise lies in API development, cloud architecture, and DevOps, 
      where I focus on solving complex challenges through fast, efficient, and cost-effective APIs.
    </p>
    <p class="text-sm font-light">
      Whether it's writing clean code, optimizing cloud systems, or ensuring seamless integrations, 
      my goal is always to deliver the right solution for every project.
    </p>
  </div>
</Card>
